.feed {
  /* Takes up the remaining space, if you use flexbox on the parent */
  flex: 1; 
  border-right: 1px solid #2f3336;
  overflow-y: scroll; /* Add scrollbar if content overflows */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 100;
  border-bottom: 1px solid #2f3336;
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}