.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid #1a1a1a;
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  display: flex;
  padding: 20px;
}

.tweetBox__input > svg { /* Styles the avatar icon */
  color: #1d9bf0;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: white;
}

.tweetBox__input > input:focus {
  outline: none; /* Removes the border on click */
}

.tweetBox__tweetButton {
  background-color: #1d9bf0;
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto; /* Pushes the button to the right */
  cursor: pointer;
  transition: background-color 0.2s;
}

.tweetBox__tweetButton:hover {
    background-color: #0364d3;
}